body {
    background-color: rgb(130, 129, 114);
    background: -webkit-linear-gradient(-57deg, rgb(241, 241, 241), rgb(130, 129, 114));
    background: linear-gradient(-57deg, rgb(241, 241, 241), rgb(130, 129, 114));
    font-family: 'Roboto Condensed';
    border-top: 5px solid #006bb7;
}
html {
    min-height: 100vh;
}

.logo {
    padding-top: 2rem;
    text-align: center;
    @include breakpoint(small down) {
        text-align: center;
    }
    img {
        width: 140px;
    }
}

a {
    &:hover {
        text-decoration: underline;
    }
}

.navigation {
    margin-top: 1rem;
    @include breakpoint(small down) {
        margin-bottom: 3rem;
    }
    ul.menu {
        @include breakpoint(small down) {
            @include menu-direction(vertical);
            box-shadow: 0 2px 4px rgba(0,0,0,0.18);
        }
        font-family: 'Roboto Condensed';
        vertical-align: bottom;
        align-items: stretch !important;
        .left {
            border-top-left-radius: 5px;
            @include breakpoint (small down) {
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
        }
        .right {
            border-top-right-radius: 5px;
            @include breakpoint (small down) {
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                border-top-right-radius: 0;
            }
        }
    }
    ul.menu li {
        background-color: rgba(255, 255, 255, 0.6);
        background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.7));
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.7));
        margin: 0;
        margin-right: 1px;
        vertical-align: bottom;
        @include breakpoint (small down) {
            margin-top: 1px;
            display: block;
        }
    }
    ul.menu li a {
        color: #006bb7;
        // background-color: rgba(255, 255, 255, 0.4);
        &:hover {
            // color: rgb(2, 27, 121);
            background-color: rgba(255, 255, 255, 1.0);
            text-decoration: underline;
        }
        &.active {
            background-color: rgba(255, 255, 255, 1.0);
        }
        text-align: center;
        vertical-align: bottom;
        width: 100%;
        height: 100%;
        padding: 0.75rem 0.5rem;
        font-size: 1.2rem;
        @include breakpoint (small down) {
            
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo';
    color: #006bb7;
}
.subline {
    font-family: 'Roboto Condensed';
}

.client-login {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.20);
    white-space: nowrap;
    font-family: 'Roboto Condensed';
    font-size: 1rem;
}

#main.bare {
    background-image: none;
    padding-bottom: 3rem;
}

#main {
    background-color: #fff;
    background-image: url(../img/lubbockmap-fs8.png);
    background-repeat: no-repeat;
    background-position: 95% -20px;
    position: relative;
    padding-bottom: 235px;
    h1 {
        margin-top: 3rem;
        line-height: 105%;
        @include breakpoint (small down) {
            font-size: 190%;
        }
    }
    .elevated h1 {
        margin-top: 1rem;
    }
    h5 {
        color: #666;
    }
    p {
        color: #666;
    }
    .realtor {
        height: 100px;
        position: absolute;
        bottom: 1rem;
    }
    .headshot {
        height: 240px;
        position: absolute;
        bottom: 0;
        right: 1rem;
        @include breakpoint(small down) {
            height: 200px;
        }
    }
    .action {
        margin: -1rem;
        margin-top: 3rem;
        padding: 1rem;
        border: 1px solid #006bb7;
        background-color: rgba(255, 255, 255, 0.8);
        h4 span {
            font-size: 85%;
        }
        @include breakpoint (large) {
            width: 70%;
            position: relative;
        }
        p {
            margin-bottom: 0;
        }
        .action-button {
            vertical-align: middle;
            @include breakpoint (large) {
                position: absolute;
                right: -20%;
                bottom: -1rem;
            }
            .button {
                display: block;
                margin: 0;
                @include breakpoint (medium down) {
                    margin-top: 1rem;
                }
            }
        }
    }
}

#newsletter {
    padding-top: 3rem;
    padding-bottom: 2rem;
    background-color: #eee;
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #222;
    }
    ::-moz-placeholder { /* Firefox 19+ */
    color: #222;
    }
    :-ms-input-placeholder { /* IE 10+ */
    color: #222;
    }
    :-moz-placeholder { /* Firefox 18- */
    color: #222;
    }
}

#form_buy, #form_sell {
    label {
        font-family: "Roboto Condensed";
        font-size: 1.1rem;
        color: #444;
        @include breakpoint(small down) {
            font-size: 0.9rem;
        }
    }
    .label_group {
        font-size: 1.1rem;
        border-bottom: 1px dotted #444;;
        display: inline-block;
        margin-bottom: 0.25rem;
        @include breakpoint(small down) {
            font-size: 0.9rem;
        }
    }
    #form_content {
        background-color: #fff;
        z-index: 1000;
        padding: 3rem 2rem 2rem 2rem;
        border: 1px solid #eee;
        border-right: 0;
        border-bottom: 0;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        box-shadow: 1px 1px 1px rgba(0,0,0,0.28);
        background-position: center top;
        background-image: url(../img/letterhead.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
}
#form_sell {
    #form_content {
        background-image: url(../img/letterhead2.png);
    }
}
form .grid-x:first-of-type .cell:last-of-type img {
    @include breakpoint(medium) {
        margin-top: 3rem;
    }
}
.elevated {
    z-index: 1000;
    position: relative;
    background-color: rgb(241, 241, 241);
    margin-top: 3rem;
    margin-bottom: -7rem;
    padding-top: 1rem;
    padding-bottom: 4rem;
    transform: rotate(-2deg);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.35);
    width: 65%;
    margin-left: 7%;
    border-top: 5px solid rgba(130, 129, 114, 0.5);
    @include breakpoint(medium down) {
        width: 90%;
        margin-left: 5%;
    }
    h1 {
        font-size: 200%;
    }
    &.alt {
        transform: rotate(2deg);
        width: 85%;
        margin-left: 6%;
        @include breakpoint(medium down) {
            width: 88%;
            margin-left: 6%;
        }
    }
    &.contact {
        width: 60%;
        margin-left: 3%;
        transform: rotate(1deg);
        @include breakpoint(small down) {
            width: 80%;
            margin-left: 10%;
        }
    }
}

#polaroids {
    position: relative;
    background-color: none;
    overflow: hidden;
    padding-bottom: 3rem;
    .polaroid {
        position: absolute;
        z-index: 999;
    }
    .polaroid-1 {
        top: 23rem;
        left: -3%;
    }
    .polaroid-2 {
        top: 49rem;
        right: -5.5%;
    }
    #form_buy {
        // background-color: #fff;
        // z-index: 999;
    }
}
#planning {
    background-image: url(../img/desktop.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    @include breakpoint (medium down) {
        background-size: 150%;
    }
}

body.page_contact #main {
    background-image: url(../img/bw-contact-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    padding-bottom: 6rem;
    border-bottom: 1px solid #aaa;
}

#footer {
    padding-top: 3rem;
    padding-bottom: 6rem;
    p, li {
        font-weight: normal;
        color: #444;
        font-size: 0.9rem;
    }
    h6 {
        color: #333;
        border-bottom: 1px dotted #333;
        display: inline-block;
    }
}

#login {
    margin-top: 4rem;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    padding: 2rem 0 1rem 0;
    h1 {
        font-size: 200%;
        margin-top: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        color: #006bb7;
        background-color: rgb(241, 241, 241);
        text-align: center;
    }
    label {
        text-align: right;
        @include breakpoint(small down) {
            text-align: left;
        }
    }
}